@font-face {
    font-family: 'Bernier';
    src: local('BERNIER Regular'), local('BERNIERRegular-Regular'), url('Bernierregular.woff2') format('woff2'), url('Bernierregular.woff') format('woff'), url('Bernierregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
